@font-face {
    font-family: techFree;
    src: url('/assets/fonts/trench100free.otf');
}

body, html, .container-fluid {
  height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	margin:0px;
	padding:0px;
	background-color: #FAFAFA;
}
.content-area {
  overflow: hidden;
  height: 100%;
  background:orange;
}
.mainBGLeft{
	height: 100%;
	background-image: url('/assets/images/sangee.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: auto 100%;
	padding:0px;
}
.container-fluid > .row{
	overflow: hidden;
	height:100%;
	margin: 0px;
}
.mainBGRight{
	overflow: auto;
	height: 100%;
}
h4{
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
}
.catLink{
	color: #F5A623;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}
h1{
	font-weight: 500;
	text-transform: uppercase;
	font-size: 27px;
	margin-top: 0px;
	cursor: pointer;
}
.postRow{
	padding-top: 30px;
  padding-bottom: 30px;
}
.postContent{
	line-height: 27px;
	font-size: 16px;
	margin-top: 2px;
	font-weight: 300;
  text-overflow: ellipsis;
  max-height: 110px;
  overflow: hidden;
}
.readMore{
	color: #5AA3E8!important;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 15px;
	cursor: pointer;
}
.mainLogo{
	font-size: 65px;
	font-family: techFree;
	color: white;
	position: absolute;
	bottom:80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}
.navBar{
	height: 40px;
  font-size: 18px;
  text-align: right;
	position: fixed;
	width: inherit;
	z-index: 2;
	background-color: #FAFAFA;
	border-bottom: 1px solid #F4EEEE;
	padding-top: 5px;
}
.loginButton{
	width: 85px;
	text-align: center;
	clear:none;
	float:right;
	cursor: pointer;
	margin-top: 1px;
  font-weight: 300;
}
.menuButton{
	background-image: url("/assets/images/menubutton.png");
	border-radius: 2px;
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
	clear:none;
	float:right;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.slideout-menu {
  position: fixed;
	left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
#menu{
	color: white;
	text-align: center;
	background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}
.menu-header{
	border-bottom: 1px solid #2a2d2f;
	height: 40px;
  font-weight: 300;
  font-size: 18px;
  padding-top: 8px;
}
.categoriesMenu{
  text-align: left;
  margin-top: 30px;
  text-transform: uppercase;
  width:100%;
}
.categoriesMenu ul{
  list-style: none;
  padding: 0px;
}
.categoriesMenu ul li{
  height: 50px;
  padding-top: 15px;
  cursor: pointer;
}
.catText{
  clear: none;
  float: left;
}
.catNum{
  height: 15px;
  width: 15px;
  background-color: white;
  color: #2E3033;
  clear: none;
  float: left;
  font-size: 12px;
  margin-left: 25px;
  margin-right: 15px;
  text-align: center;
  border-radius: 3px;
  margin-top: 3px;
}
.catEmpty{
  height: 20px;
  width: 20px;
  clear: none;
  float: left;
  margin-left: 5px;
  margin-right: 0px;
}
.categoriesMenu ul li:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.categoryHeader{
  color:#85888d;
  margin-bottom: 20px;
  padding-left: 25px;
}
.categoriesMenu ul a{
  text-decoration: none;
  color: white;
}
.postEllipsis{
  position: absolute;
  bottom: 37px;
  right: 18px;
  background-color: #FAFAFA;
  width:23px;
}
.postRow a{
  text-decoration: none;
  color: black;
}
.readMore a{
    color: #5AA3E8!important;
}
.postPageLogo{
  float: left;
  clear: none;
  font-size: 20px;
  margin-left: 22px;
  font-weight: bolder;
  font-family: techFree;
}
.postPageLogo a{
  text-decoration: none;
  color: black;
}
.postPageContent{
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.postPageContent > div{
  padding-top: 10px;
  border-top: 1px solid #E8E8E8;
}
.postPageHeader{
  margin-top: 80px;
}
.postAuthorPic{
  height: 155px;
  width: 155px;
  border-radius: 3px;
  background-image: url('/assets/images/sangee2.jpg');
  background-size: 155px auto;
  margin :0px;
}
.postTime{
  margin:0px;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 2px;
  text-decoration: none;
}
.postPageTitle{
  margin-left: 0px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.pull-left{
  clear:none;
  float:left;
}
